waeaves.com www.waeaves.com {
	handle_path /dev* {
		rewrite * {path}
		reverse_proxy directus:8055
	}

	# Other routes or static file serving
	handle {
		# reverse_proxy http://puzzleweaver.github.io
		# root * /var/www/html
		# file_server
		respond "Hello, world!"
	}
}
